@model AdminPortal.Models.Auth.ChangePasswordModel
@{
    ViewData["Title"] = "Change your password";
    Layout = null;
    //Model.redirect = ViewData["redirect"].ToString();
}

<h2>Password change is required</h2>
<br>
<h4>Please enter your old and new password</h4>
<form asp-action="ChangePassword" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label asp-for="Oldpassword">Enter old password</label>
            <input type="text" asp-for="Oldpassword" />
            <span asp-validation-for="Oldpassword" />
        </div>
        <div class="form-group">
            <label asp-for="Newpassword">Enter new password</label>
            <input asp-for="Newpassword" />
            <span asp-validation-for="Newpassword" />
        </div>
        <br>
        <p style="color:red"><b>@ViewData["error"]</b></p>
        <br>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn" />
        </div>
    </div>
</form>